@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";



* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

textarea,
input {
  width: 100%;
  margin-top: 8px;
}

button {
  margin-top: 10px;
}

